* {
    box-sizing: border-box;
}

.root {
    --fo:'Outfit', sans-serif;
}

.attribution {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

main {
    padding: 10px;
    width: 300px;
    height: 480px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: white;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

main div:nth-child(2) {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 23px;
    margin-left: 14px;
}

main div:last-of-type {
    font-family: 'Outfit', sans-serif;;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 240px;
    text-align: center;
    margin-left: 16px;
}

@media (min-width:375px) and (max-width:1440px) {
    
}